<!DOCTYPE html>
<html>
     <head>
          <meta charset="UTF-8">
          <link rel="stylesheet" href="">
          <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
          <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css" media="all" />
          <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
          {% block head %} {% endblock %}
          <div id="menu">
               <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="networkstatus">Network Status</a></li>
                    <li><a href="syslog">Console</a></li>
                    <li><a href="inventory">Inventory</a></li>
                    <li><a href="configurations">Configurations</a></li>
                    <li><a href="notificationCenter">Notifications</a></li>
               </ul>
          </div>
     </head>

     <body>
                    {% block body %} {% endblock %}
     </body>
</html>
