{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
     <a name="configurations"></a>
     
     {% if files %}
          <h2>Configurations</h2>
          {% for name, file in files %}
               <ul>     
                    <h3>{{ name }}</h3>
                    {% for line in file %}
                         <li> 
                              <p>{{ line }}</p>
                         </li>
                    {% endfor %}
               </ul>
          {% endfor %}
     {% endif %}
{% endblock %}
