{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
     <a name="index"></a>
	<h1>Network Web Console</h1>
	<h3 class="byline">Information about the network</h3>
	<img src="{{ url_for('static', filename='media/FinalArchitecture.png') }}" alt="Network Architecture Diagram"/>


{% endblock %}
