{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
     <a name="inventory"></a>
     
     {% if inventory %}
          <h2>Inventory</h2>
          {% for entry in inventory %}
               <div class="inventoryEntry">
                    <ul>     
                         <li> {{ entry }} </li>
                    </ul>
               </div>
          {% endfor %}
     {% endif %}
{% endblock %}
