{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
     <a name="networkstatus"></a>
     
     {% if unresponsive %}
          <h2>Unresponsive hosts</h2>
          {% for host in unresponsive %}
               <ul>     
                    <li> {{ host }} </li>
               </ul>
          {% endfor %}
     {% endif %}
     {% if responsive %}
          <h2>Responsive hosts</h2>
          {% for host in responsive %}
               <ul>     
                    <li> {{ host }} </li>
               </ul>
          {% endfor %}
     {% endif %}
{% endblock %}
