{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
     <a name="notificationCenter"></a>
     <h1>Network Notifications</h1>
     <h4>Notifications about the network architecture</h4>
     
     <h4>Notification area:</h4>
     <div id="notificationArea" class="inventoryEntry">
     </div>
     
     <div id="notificationdiv">
     <script>
          var eventList = document.querySelector('#notificationArea');
          var targetContainer = document.getElementById("notificationdiv");
          var eventSource = new EventSource("/stream");
          
          eventSource.onmessage = function(e)  
          {
               var newElement = document.createElement("li");

               newElement.textContent = e.data;
               eventList.appendChild(newElement);
               //document.write(newElement.textContent); 
          }
     </script>
     </div>
{% endblock %}
