{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
     <a name="syslog"></a>
     
     {% if syslogs %}
          <h2>Syslogs</h2>
          {% for log in syslogs %}
               <ul>     
                    <li> {{ log }} </li>
               </ul>
          {% endfor %}
     {% endif %}
{% endblock %}
